
body {
    margin: 0;
}
.container {
    width: 90%;
    margin: 0 auto;
    font-family: Poppins;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
}
.list {
    list-style-type: none;
}
.list-item {
    display: inline-block;
    margin: 0 10px;
}
.logo img {
    width: 60%;
}
.nav-button {
    background: #7475da;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    margin: 30px 0;
}

/* Banner area css */
.banner-container {
    height: 75vh;
    display: flex;
    gap: 50px;
    align-items: center;
}
.left-area {
    flex: 1;
   }
.right-area {
       flex: 2;
       z-index: -9999;
   }
.banner-container img {
    width: 100%;
}
.heading-text {
    font-size: 4vw;
    line-height: 1.2;
}
.description {
    font-size: .8rem;
}
.banner-button {
    background: #7475da;
    border: none;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    margin: 30px 0;
}

/* Responsive CSS */
@media (max-width: 768px){
    /* nav-area */
    nav {
        flex-direction: column;
        height: auto;
    }
    .logo img {
        height: 60%;
        width: auto;
        margin-top: 3vh;
    }
    /* banner-area */
    .banner-container{
        height: auto;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}

